<div class="wrapper bg-light">
  <div class="container">
    <h1>About Us</h1>

    <p>
      We are utilizing more venues in the Midwest and South-East Coast Region
      and have been introducing new technologies to improve scouting
      opportunities for players participating in our events to maximize
      exposure. Our main focus is providing events for players to get exposure
      and play against great competition all while playing at some of the nicest
      baseball diamonds in the region. All events will have live gamecast
      coverage, and guaranteed scouts at every tournament. Teams looking to give
      their players the best chance to play in front of college coaches, on
      collegiate venues, get exposure, and to play against some of the top teams
      from across the region… 5-Tool Tournaments is taking care of that! To
      request more information please contact us!
    </p>
  </div>
</div>
