<div class="wrapper">
  <div class="container">
    <h1 class="d-flex justify-content-end">Rules</h1>

    <div class="row" id="rules">
      <p class="text-white">
        ** Download a full copy of all of the rules below **
      </p>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Field Dimensions
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  Teams 14U – 18U will compete on 60 – 90 dimensions. Metal
                  cleats allowed except when noted on turf fields. Check
                  tournament details.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo"
            >
              Tournament Format
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  Teams competing in tournaments 14U – 18U will be subject to a
                  7 inning or 2-hour time limit (high school rules).
                </li>
                <li>
                  Teams advancing to the championship rounds are based on
                  seeding within pool and then against the field.
                </li>
              </ul>

              <p>
                (Example: If the top 8 teams advance from 4 pools the #1 seeds
                will be seeded 1-4 and the #2 seeds will be ranked 5-8 for
                overall seeding. If the top 8 teams advance from 5 total pools
                the pool winners will be seeded 1-5 and the top ranked pool
                runner ups will be seeded 6-8. A 3 seed from one pool can not be
                seeded higher than a #2 from any people regardless of record.)
              </p>

              <ul>
                <li>
                  Run Rules: 15 runs after 3 innings of play – 10 runs after 4
                  innings of play – 8 runs after 5 innings of play.
                </li>
                <li>
                  Events that are hosted on college fields have tournament
                  details that include “guaranteed games on college field” for
                  the first set of teams that are registered and paid in FULL.
                </li>
                <li>
                  Pool play games can end in a tie with teams receiving half a
                  win/loss.
                </li>
              </ul>

              <p>
                **Guaranteed games are also dependent on weather and event
                coordinators will typically play the schedule as you see it from
                day to day in order to keep the event running smoothly. If your
                game was rained out on Thursday and that was your only game on
                the college field we apologize but we can not make those games
                up on the college fields in most cases.**
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseThree"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseThree"
            >
              Pre-Game Warm-up/Timing
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  Teams should be prepared and ready to play 15 minutes before
                  their scheduled game is set to begin.
                </li>
                <li>
                  Games completed early will result in an early start for the
                  following games, weather permitting.
                </li>
                <li>
                  The tournament director has the right to shorten or forfeit a
                  game should teams not be ready to start their scheduled game
                  on time.
                </li>
                <li>
                  There will be a 15-minute period in between games to allow
                  crews time for field maintenance.
                </li>
                <li>
                  Unless otherwise noted by a Tournament Director, no infield
                  practice will be allowed prior to the start of any game.
                </li>
                <li>
                  Teams will be permitted to take ground/fly balls down the
                  outfield lines prior to the start of their game.
                </li>
                <li>
                  We will abide by university/complex rules during our events.
                </li>
                <li>
                  Teams will be given 15 minutes prior to the start of all
                  games.
                </li>
                <li>
                  Please remind your players and coaches NOT to use the infield
                  prior to the game.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFour"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseFour"
            >
              EH & DH
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFour"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  Teams will be allowed to use a DH and/or an EH during any
                  given game.
                </li>
                <li>
                  Teams must designate who each player is and for what player
                  the DH will be hitting for in the field of play.
                </li>
                <li>
                  Should teams enter the DH into the field of play, the DH
                  position will be eliminated for the rest of the current game.
                </li>
                <li>
                  The EH may also enter the field of play but MUST remain in
                  their current batting position.
                </li>
                <li>
                  The player for which the EH has replaced in the field will now
                  become the EH but will remain in the same batting position.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFive"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseFive"
            >
              In-Game Situations
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFive"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  <strong>Age Restrictions:</strong>
                  All ages are based on grad years and not solely on a player’s
                  birth date (age on May 1 is your age for the year).
                  Example…for the 2018 Summer players with a graduation year of
                  2022 are “18U”, 2023 grads are “17U” eligible, 2024 grads are
                  “16U” eligible, 2025 grads are “15U” eligible, and 2026 grads
                  are “14U” eligible. Regardless of age, no player having
                  competed for an NCAA institution will be deemed eligible to
                  compete in a 5-Tool Tournaments sanctioned event without
                  approval. Players having graduated from high school, who are
                  young Freshman in college will need written permission from
                  staff to be deemed eligible to compete.
                </li>
                <li>
                  <strong>Courtesy Runner:</strong>
                  Must be used for catcher/pitcher with 2 outs. Optional for
                  catcher/pitcher with less than 2 outs. Must be a player not
                  currently in the game or the player who made the last out
                  should a team not have an extra player on the bench.
                </li>
                <li>
                  <strong>Intentional Walks:</strong>
                  Automatic intentional walk rule may be used.
                </li>
                <li>
                  <strong>Slide Rules:</strong>
                  Players must try to avoid contact on all players during the
                  game. 5-Tool Tournaments leaves it to the umpires discretion
                  if there was intent to cause harm during contact. Players
                  using intent may be subject to ejection from the current game.
                </li>
                <li>
                  <strong>Headfirst Sliding:</strong>
                  Players are encouraged to slide FEET first. Though we stress
                  the safety of the players, there are times where head first
                  sliding is acceptable and more comfortable for a player.
                  Please advise your players to BE SMART when sliding headfirst
                  and avoid sliding headfirst into home plate.
                </li>
                <li>
                  <strong>Bat Restrictions:</strong>
                  18U will be subjected to the -3 BBCOR High School rules on
                  bats or USAB stamped bats. If there’s a bat discrepancy we
                  will refer to the NFHS bat regulations. Teams competing in
                  wood bat tournaments have no weight distribution limits.
                </li>
                <li>
                  <strong>Tie Breakers:</strong>
                  Overall Record, Head-To-Head, Run Differential, Runs Allowed,
                  Runs Scored, Coin Toss will be the order to determine tie
                  breakers.
                </li>
                <li>
                  <strong>Rosters:</strong>
                  A player can not play for two teams within the same
                  tournament.
                </li>
                <li>
                  <strong>In Game Tie Breakers:</strong>
                  Games reaching the 9th inning of play at any time will go in
                  to the West Coast hurry up mode. The last batted out in the
                  previous inning will start on 2nd base, regular ball and
                  strike count applies. We will put players on 2nd and 3rd in
                  the 10th inning and load the bases in the 11th. Championship
                  games will NOT be subject to these rules, we will play the
                  game normally.
                </li>
                <li>
                  We
                  <strong>WILL</strong>
                  let teams play with 8 players, no less than that. (9th Batter
                  will count as an OUT)
                </li>
                <li>
                  <strong>Forfeits:</strong>
                  A forfeit will be scored based on the average run differential
                  against said team, for losses, during pool play. Should the
                  team go undefeated through pool play after the forfeit a score
                  of 1-0 will be recorded for the forfeited game.
                </li>
              </ul>

              <p>
                (Example … Team A forfeits game 1 … loses 7-4, wins 12-4, loses
                8-1 … the average RD in games lost is 5 (7-4=3 + 8-1=7 … 10
                runs/2 games) makings the score for the forfeited game 5-0.)
                Should only one game be lost during the rest of pool play the RD
                for that single game will be used. A team may not compete past
                pool play with a forfeit during pool play for any reason.)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
