<div class="wrapper">
  <div class="container">
    <h1 class="d-flex justify-content-end">Rules</h1>

    <div class="row" id="rules">
      <p class="text-white">
        ** Download a full copy of all of the rules below **
      </p>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              Field Dimensions
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  Teams 14U – 18U will compete on 60 – 90 dimensions. Metal
                  cleats allowed except when noted on turf fields. Check
                  tournament details.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo"
            >
              Tournament Format
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  Teams competing in tournaments 14U – 18U will be subject to a
                  7 inning or 2-hour time limit (high school rules).
                </li>
                <li>
                  Teams advancing to the championship rounds are based on
                  seeding within pool and then against the field.
                </li>
              </ul>

              <p>
                (Example: If the top 8 teams advance from 4 pools the #1 seeds
                will be seeded 1-4 and the #2 seeds will be ranked 5-8 for
                overall seeding. If the top 8 teams advance from 5 total pools
                the pool winners will be seeded 1-5 and the top ranked pool
                runner ups will be seeded 6-8. A 3 seed from one pool can not be
                seeded higher than a #2 from any people regardless of record.)
              </p>

              <ul>
                <li>
                  Run Rules: 15 runs after 3 innings of play – 10 runs after 4
                  innings of play – 8 runs after 5 innings of play.
                </li>
                <li>
                  Events that are hosted on college fields have tournament
                  details that include “guaranteed games on college field” for
                  the first set of teams that are registered and paid in FULL.
                </li>
                <li>
                  Pool play games can end in a tie with teams receiving half a
                  win/loss.
                </li>
              </ul>

              <p>
                **Guaranteed games are also dependent on weather and event
                coordinators will typically play the schedule as you see it from
                day to day in order to keep the event running smoothly. If your
                game was rained out on Thursday and that was your only game on
                the college field we apologize but we can not make those games
                up on the college fields in most cases.**
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseThree"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseThree"
            >
              Pre-Game Warm-up/Timing
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  Teams should be prepared and ready to play 15 minutes before
                  their scheduled game is set to begin.
                </li>
                <li>
                  Games completed early will result in an early start for the
                  following games, weather permitting.
                </li>
                <li>
                  The tournament director has the right to shorten or forfeit a
                  game should teams not be ready to start their scheduled game
                  on time.
                </li>
                <li>
                  There will be a 15-minute period in between games to allow
                  crews time for field maintenance.
                </li>
                <li>
                  Unless otherwise noted by a Tournament Director, no infield
                  practice will be allowed prior to the start of any game.
                </li>
                <li>
                  Teams will be permitted to take ground/fly balls down the
                  outfield lines prior to the start of their game.
                </li>
                <li>
                  We will abide by university/complex rules during our events.
                </li>
                <li>
                  Teams will be given 15 minutes prior to the start of all
                  games.
                </li>
                <li>
                  Please remind your players and coaches NOT to use the infield
                  prior to the game.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFour"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseFour"
            >
              EH & DH
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFour"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  Teams will be allowed to use a DH and/or an EH during any
                  given game.
                </li>
                <li>
                  Teams must designate who each player is and for what player
                  the DH will be hitting for in the field of play.
                </li>
                <li>
                  Should teams enter the DH into the field of play, the DH
                  position will be eliminated for the rest of the current game.
                </li>
                <li>
                  The EH may also enter the field of play but MUST remain in
                  their current batting position.
                </li>
                <li>
                  The player for which the EH has replaced in the field will now
                  become the EH but will remain in the same batting position.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFive"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseFive"
            >
              In-Game Situations
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFive"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  <strong>Age Restrictions:</strong>
                  All ages are based on grad years and not solely on a player’s
                  birth date (age on May 1 is your age for the year).
                  Example…for the 2018 Summer players with a graduation year of
                  2022 are “18U”, 2023 grads are “17U” eligible, 2024 grads are
                  “16U” eligible, 2025 grads are “15U” eligible, and 2026 grads
                  are “14U” eligible. Regardless of age, no player having
                  competed for an NCAA institution will be deemed eligible to
                  compete in a 5-Tool Tournaments sanctioned event without
                  approval. Players having graduated from high school, who are
                  young Freshman in college will need written permission from
                  staff to be deemed eligible to compete.
                </li>
                <li>
                  <strong>Courtesy Runner:</strong>
                  Must be used for catcher/pitcher with 2 outs. Optional for
                  catcher/pitcher with less than 2 outs. Must be a player not
                  currently in the game or the player who made the last out
                  should a team not have an extra player on the bench.
                </li>
                <li>
                  <strong>Intentional Walks:</strong>
                  Automatic intentional walk rule may be used.
                </li>
                <li>
                  <strong>Slide Rules:</strong>
                  Players must try to avoid contact on all players during the
                  game. 5-Tool Tournaments leaves it to the umpires discretion
                  if there was intent to cause harm during contact. Players
                  using intent may be subject to ejection from the current game.
                </li>
                <li>
                  <strong>Headfirst Sliding:</strong>
                  Players are encouraged to slide FEET first. Though we stress
                  the safety of the players, there are times where head first
                  sliding is acceptable and more comfortable for a player.
                  Please advise your players to BE SMART when sliding headfirst
                  and avoid sliding headfirst into home plate.
                </li>
                <li>
                  <strong>Bat Restrictions:</strong>
                  18U will be subjected to the -3 BBCOR High School rules on
                  bats or USAB stamped bats. If there’s a bat discrepancy we
                  will refer to the NFHS bat regulations. Teams competing in
                  wood bat tournaments have no weight distribution limits.
                </li>
                <li>
                  <strong>Tie Breakers:</strong>
                  Overall Record, Head-To-Head, Run Differential, Runs Allowed,
                  Runs Scored, Coin Toss will be the order to determine tie
                  breakers.
                </li>
                <li>
                  <strong>Rosters:</strong>
                  A player can not play for two teams within the same
                  tournament.
                </li>
                <li>
                  <strong>In Game Tie Breakers:</strong>
                  Games reaching the 9th inning of play at any time will go in
                  to the West Coast hurry up mode. The last batted out in the
                  previous inning will start on 2nd base, regular ball and
                  strike count applies. We will put players on 2nd and 3rd in
                  the 10th inning and load the bases in the 11th. Championship
                  games will NOT be subject to these rules, we will play the
                  game normally.
                </li>
                <li>
                  We
                  <strong>WILL</strong>
                  let teams play with 8 players, no less than that. (9th Batter
                  will count as an OUT)
                </li>
                <li>
                  <strong>Forfeits:</strong>
                  A forfeit will be scored based on the average run differential
                  against said team, for losses, during pool play. Should the
                  team go undefeated through pool play after the forfeit a score
                  of 1-0 will be recorded for the forfeited game.
                </li>
              </ul>

              <p>
                (Example … Team A forfeits game 1 … loses 7-4, wins 12-4, loses
                8-1 … the average RD in games lost is 5 (7-4=3 + 8-1=7 … 10
                runs/2 games) makings the score for the forfeited game 5-0.)
                Should only one game be lost during the rest of pool play the RD
                for that single game will be used. A team may not compete past
                pool play with a forfeit during pool play for any reason.)
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseSix"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseSix"
            >
              Tie Breakers and Other Examples
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseSix"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingSix"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  Overall Record, Head-to-Head Results, Run Differential, Runs
                  Allowed, and then Runs Scored will be used to determine pool
                  winners and set tie breaker policies.
                </li>
                <li>
                  Two teams within the same pool, that played each other, with
                  the exact same record will use head-to-head to determine the
                  top seed.
                </li>
                <li>
                  Two teams within the same pool, that did not play each other,
                  with the exact same record will progress down the tie breakers
                  to RD, and RA
                </li>
                <li>
                  Three-way ties will follow the same progressions with
                  head-to-head being used when possible. With same records and
                  each team beating the other RD will be used to determine the
                  top team. Continue to progress down the tie breaker rules
                  until 1 or 2 teams can be pulled from the group of 3 tied
                  teams. If a top team can be pulled from the 3 at any point in
                  the progression, they will be the top seed. At any point where
                  two teams remain, head-to-head will be used to dictate higher
                  seed.
                </li>
                <li>
                  Rain can play a role in any tournament. If rain comes into
                  play, we will try to play every game. If that is impossible,
                  we will play as many games as possible and play the most
                  important games first. Tie Breakers can become confusing.
                </li>
                <li>
                  If all games can not be played within a pool, we will use best
                  judgement to determine pool winners following certain
                  guidelines. The number of games we use for seeding will be
                  determined by the lowest number of games played by a team who
                  could mathematically advance. (i.e., Team A 1-1, B 0-4, C 3-1,
                  D 2-1, E, 2-1 in this instance we would revert back to
                  everyone’s record after two games as long as team A has not
                  been mathematically eliminated).
                </li>
                <li>
                  If a 3-0 team is playing a 2-0 team and that is the final game
                  in a pool head-to-head will be the tie breaker still. So, if
                  the 2-0 team wins, they will be seeded higher than the 3-0
                  team. Head-to-Head will never be thrown out.
                </li>
                <li>
                  Best/Worst Case Scenario – this scenario will take place when
                  the following example happens during an event. If the final
                  pool play game, or two, are eliminated due to rain or
                  unforeseen circumstances but there is a team that has clinched
                  an advancing spot for bracket play that team will NOT be
                  eliminated from bracket play when the rest of the pool reverts
                  back to the number of pool play games needed to determine who
                  has the best record from that point.
                </li>
              </ul>

              <p>
                (Example: If a team is 3-1 through 4 games, a team is 2-1 and
                gets rained out of their 4th game, and a team is 2-1-1 through 4
                games. The 3-1 team has clinched a spot in to bracket play and
                then the second-place team will advance by reverting back to the
                first 3 games of play based on our regular advancement rules.
                Once the second seed, or however many seeds need to be
                determined, is determined the ranking of those top seeds will be
                done through the regular advancing system. In short – if at any
                point it is mathematically impossible for a team to be
                eliminated, regardless of the outcome of any remaining games,
                said team will be guaranteed advancement OR seeding within the
                top of their pool standings and then we will use standard
                seeding scenarios to determine who is the 1, 2, 3, etc., seeds
                within that pool)
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseSeven"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseSeven"
            >
              Weather/Game Delays
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseSeven"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingSeven"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  Games will be “complete” with 4 1/2 innings of play during a
                  scheduled 7 inning game
                </li>
                <li>
                  The score of the game will be frozen and picked up at a later
                  time should play be suspended for any reason. The game may be
                  subject to a shorter time limit and/or a shortened game to
                  complete the game for seeding.
                </li>
                <li>
                  Should the first game of the day be under a weather
                  delay/cancellation, that game will take place at a later time
                  during the tournament as we will try to keep all other games
                  on their previously scheduled times. If we have a 2-hour rain
                  delay and you start at 9 AM, we will contact all coaches that
                  were scheduled to play at 9 AM and move those games to a
                  different time period if/when possible. Teams that were
                  scheduled at 11:15 AM should assume the start of their game is
                  on time until otherwise informed.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="panelsStayOpen-headingEight">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseEight"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseEight"
            >
              Rainout, Refund, and General Policies
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseEight"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingEight"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  Weather plays a factor in any outdoor sporting event, the same
                  holds true for our tournaments. Field crews will do
                  everything, within reason, to complete each game and
                  tournament to the best of their ability without risking the
                  safety of anyone involved (players, coaches, fans, crews).
                  Should weather play a part in the cancellation of any event,
                  below are 5-Tool Tournament’s refund and rain out procedures:
                </li>
                <li>
                  Should the weather cause an event to be completely canceled
                  having played no games all teams will receive a full entrance
                  fees credit, less the deposit, for a future event to take
                  place within a full calendar year from the end of the canceled
                  events date.
                </li>
                <li>
                  Should an event be canceled by 5-Tool Tournaments for any
                  reason other than weather, an act of god, or cancellation
                  taking place due to a team’s withdrawal from the event, prior
                  to the start of the tournament, teams will receive a refund of
                  100% of their total tournament entrance fees!
                </li>
                <li>
                  Should just one game be played before an event is canceled due
                  to weather, a credit will be issued for 50% of the value the
                  participating team paid to play in the event. (Same rules
                  apply with the credit as indicated in point 1 listed above.)
                </li>
                <li>
                  There will be no refunds or credits after the start of each
                  teams’ second game.
                </li>
                <li>
                  Should games be canceled during the Championship rounds awards
                  will be given to the 2 highest remaining seeds.
                </li>
                <li>
                  The deposit amount of ($250) associated with tournament entry
                  are non-refundable and non-transferable unless an event is
                  canceled completely prior to the start of the tournament by
                  5-Tool Tournaments. Teams withdrawing from an event at any
                  time will forfeit the value of the deposit which will be
                  applied to said teams account until paid.
                </li>
                <li>
                  Teams having completed registration payment are expected to
                  attend that event. Teams withdrawing 2+ months in advance will
                  receive a FULL credit, less the value of the one deposit
                  value, if the event has not been closed. In the event said
                  tournament is FULL or closed and the vacant position can not
                  be filled the full registration payment value will be
                  forfeited. Once a schedule is released there are no refunds or
                  credits.
                </li>
                <li>
                  Teams withdrawing within 2 months of the tournament will
                  forfeit all registration fees. There are NO refunds or credits
                  for withdrawal within 2 months of the event.
                </li>
                <li>
                  <strong>
                    THERE WILL BE NO REFUND ON THE $250 DEPOSIT TO RESERVE YOUR
                    TEAMS SPOT IN ANY TOURNAMENT. TEAMS/ORGANIZATIONS
                    WITHDRAWING FROM ONE EVENT AND WISHING TO TRANSFER PAYMENT
                    TO ANOTHER EVENT WILL LOSE $250 DURING THE TRANSFER OR
                    WITHDRAWAL. THE SAME TIME CIRCUMSTANCES LISTED ABOVE WILL
                    REMAIN IN EFFECT.
                  </strong>
                </li>
              </ul>

              <h4><strong>3 Way Tie</strong></h4>

              <p>
                In the event of a 3-way tie, three teams have the same overall
                record (3-1 for example), the team with the best RD will be the
                pool winner (unless said team beat both of the other 3-1 teams
                head to head) and the pool runner up will be determined by
                reverting back to the head to head winner for that matchup.
              </p>

              <h4><strong>Mercy Rule</strong></h4>

              <p>
                All ages are subject to a 15 after 3, 10 after 4, 8 after 5
                innings run rule. There is an 8 run cap on run differential.
              </p>

              <h4><strong>Balks</strong></h4>

              <p>
                All ages are subject to balks with no warnings being issued.
              </p>

              <h4><strong>Cleats</strong></h4>

              <p>Rubber Rubber Rubber Metal Metal</p>

              <h4><strong>Bunting</strong></h4>

              <p>All ages are permitted to bunt.</p>

              <h4><strong>Infield Fly</strong></h4>

              <p>All ages are subject to the infield fly rule.</p>

              <h4><strong>Lineup</strong></h4>

              <p>
                Lineup All ages may use a DH &/OR EH and may also bat the entire
                lineup if they wish. If a team chooses to bat all available
                players and someone(s) gets hurt an out will be recorded every
                time the injured player(s) comes to the plate IF you want the
                opportunity to bring that player back into the game at any
                point. As long as an out is recorded the injured player may
                re-enter his spot in the lineup at any time. However, IF the
                player is injured and deemed unable to compete, the player will
                be dropped from the game and NO out will be enforced, for the
                sake of the game, but this player can NOT compete for the rest
                of the current game under any circumstances.
              </p>

              <h4><strong>Re-Entry</strong></h4>

              <p>
                Starters may re-enter once, in their original batting position,
                for all age divisions.
              </p>

              <h4><strong>Courtesy Runner</strong></h4>

              <p>
                P & C, mandatory with 2 outs, optional with 1 or fewer outs.
              </p>

              <h4><strong>Game Play</strong></h4>

              <p>
                Game Play A team may compete with no fewer than 8 players to
                constitute an official game. Every time the 9th player is set to
                come to the plate an out will be rewarded. Less than 8 players
                will constitute a forfeit.
              </p>

              <h4><strong>Mound Visits</strong></h4>

              <p>
                The IN-STATE visitation rules will be used during tournament
                play. Please check with the umpires to clarify the number of
                visits permitted as each state may have different visitation
                rules! Ejections Player/Coach/Fan must leave immediately to
                parking lot (IN CAR), MANDATORY 2nd game suspension and possible
                tournament expulsion at Tournament Directors discretion. IF at
                any time a coach, fan, or player makes intentional contact with
                an umpire that individual’s tournament will be over (intent will
                be determined by the umpire and tournament director).
              </p>

              <h4><strong>Ejections Sliding</strong></h4>

              <p>
                All ages are permitted to slide headfirst, at players own risk,
                and they must attempt to avoid contact!
              </p>

              <h4><strong>Appeal/Protest</strong></h4>

              <p>
                There are NO appeals on judgment calls. $100 cash to Tournament
                Director for all other appeals. Must be made at time of the
                protested ruling. You may not protest after the fact…must be
                made before the next pitch is thrown.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
