<div class="wrapper">
  <div class="container">
    <h1 class="d-flex justify-content-end">Rules</h1>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tournament Format</h5>
            <div class="card-text">
              <ul class="list-group">
                <li class="list-group-item">
                  Teams competing in tournaments 14U – 18U will be subject to a
                  7 inning or 2-hour time limit (high school rules).
                </li>
                <li class="list-group-item">
                  Teams advancing to the championship rounds are based on
                  seeding within pool and then against the field.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
