.wrapper {
  background-color: #343434;
  padding: 3rem;
}

.wrapper h1 {
  color: var(--color-primary);
}

button {
  background: url(../../../assets/grass.webp);
  background-size: cover;
  color: white;
  height: 100px;
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  color: var(--color-primary) !important;
}

.accordion-button::after {
  display: none;
}

.primary-text:hover {
  color: var(--color-light);
}