<div class="wrapper">
  <div class="overlay">
    <nav
      class="navbar navbar-expand-lg"
      *ngIf="scrolled < 765 && screenWidth > 800"
    >
      <div class="container">
        <a href="#home"><img src="assets/5TT-02.png" alt="Our Logo"></a>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tournaments">Tournaments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#rules">Rules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactus">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <nav
      class="navbar navbar-expand-lg"
      *ngIf="screenWidth > 800 && scrolled === undefined"
    >
      <div class="container">
        <a href="#home"><img src="assets/5TT-02.png" alt="Our Logo"></a>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tournaments">Tournaments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#rules">Rules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactus">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>

    <h1>
      <span>5</span>-Tool Tournaments
    </h1>

    <div class="ourName">
      <p>
        <span>|</span>
        Scouts have long graded position players on five tools that are central to success in the game: hitting, hitting for power, running, fielding and throwing. The so-called “five-tool player” is a special breed, as those who truly rate above average in each category are extremely rare.
      </p>
    </div>

    <button class="butn butn-primary-outline">
      <a href="#aboutus">About Us</a>
    </button>
  </div>

  <div
    class="navbar navbar-expand-sm navbar-light bg-light scrolled-nav"
    *ngIf="scrolled > 765 || screenWidth < 800"
  >
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a href="#">
          <img src="assets/5TT-02.png" alt="Our Logo">
        </a>
        <ul class="navbar-nav mb-2 mb-lg-0 justify-content-end">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tournaments">Tournaments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#rules">Rules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactus">Contact Us</a>
          </li>

          <a href="#" target="_blank" rel="noopener noreferrer">
            <strong>
              <i class="fab fa-facebook-f text-dark"></i>
            </strong>
          </a>
          <a href="https://www.instagram.com/5tooltourneys/" target="_blank" rel="noopener noreferrer">
            <strong>
              <i class="fab fa-instagram text-dark"></i>
            </strong>
          </a>
          <a href="https://twitter.com/5ToolTourneys" target="_blank" rel="noopener noreferrer">
            <strong>
              <i class="fab fa-twitter text-dark"></i>
            </strong>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>
