<div class='top-bar pt-2 pb-2'>
        <div class='d-flex justify-content-end right'>
            <a
              href='#'
              target='_blank'
              rel='noopener noreferrer'
              class="left"
            >
              <strong>
                <i class='fab fa-facebook-f text-dark'></i>
              </strong>
            </a>
            <a
              href='#'
              target='_blank'
              rel='noopener noreferrer'
            >
              <strong>
                <i class='fab fa-instagram text-dark'></i>
              </strong>
            </a>
        </div>
  </div>