<div class="top-bar pt-2 pb-2" id="home">
  <a
    href="https://www.facebook.com/fivetooltournaments/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <strong>
      <i class="fab fa-facebook-f text-dark"></i>
    </strong>
  </a>
  <a
    href="https://www.instagram.com/fivetooltournaments/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <strong>
      <i class="fab fa-instagram text-dark"></i>
    </strong>
  </a>
  <a
    href="https://twitter.com/5ToolTourneys"
    target="_blank"
    rel="noopener noreferrer"
  >
    <strong>
      <i class="fab fa-twitter text-dark"></i>
    </strong>
  </a>
</div>
