<div class="wrapper text-white" id="contactus">
  <div class="container">
    <h1 class="mb-3">Contact Us</h1>

    <div class="row">
      <div class="email">
        <div class="bio">
          <h2>Tanner</h2>
          <p>
            <img
              src="https://via.placeholder.com/150"
              alt="Placerholder image"
            />
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione
            alias inventore cumque! Corrupti asperiores harum aperiam sequi quia
            nihil dignissimos aut in, eius atque illum veritatis, sed dolore
            quasi recusandae.
          </p>
        </div>
        <div class="bio">
          <h2>Brandon</h2>
          <p>
            <img
              src="https://via.placeholder.com/150"
              alt="Placerholder image"
            />
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione
            alias inventore cumque! Corrupti asperiores harum aperiam sequi quia
            nihil dignissimos aut in, eius atque illum veritatis, sed dolore
            quasi recusandae.
          </p>
        </div>
        <a href="mailto:fivetooltournaments@gmail.com">Email Us</a>
      </div>
    </div>
  </div>
</div>
