<div class="wrapper text-white" id="contactus">
  <div class="container">
    <h1 class="text-white mb-3">Contact Us</h1>

    <div class="row">
      <div class="col">
        <iframe
          class="map"
          frameBorder="0"
          style="border: '0';"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBN63JyFJxFSkHFLA-jxQS7tpHhjp30OBk&q=Walmart+9+Benton+rd+Travelers Rest+SC+29690"
          allowFullScreen
          title="iframe"
        ></iframe>
      </div>

      <div class="col email">
        <h2>Tanner</h2>
        <a href="mailto:fivetooltournaments@gmail.com">Email</a>
      </div>
    </div>
  </div>
</div>
